.precos {
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    font-size: large;
}

.precos h1 {
    color: blueviolet;
}

.precos p {
    text-align: center;
}

#aviso {
    margin-top: 50px;
}

.item {
    font-size: larger;
    font-weight: bold;
}

.categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.categoria .item {
    padding-right: 50px;
}

.categoria .valor {
    padding-left: 50px;
}

hr {
    width: 30%;
    color: blueviolet;
    border-top: none;
}