.precos {
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    font-size: large;
}

.precos h1 {
    color: blueviolet;
}

.categoria {
    display: flex;
}

.categoria .item {
    padding-right: 20px;
}

.categoria .valor {
    padding-left: 20px;
}