.mainbody {
    font-size: large;
    margin: 0px 0px 0px 20px;
}

.mainbody h1 {
    color: blueviolet;
}

strong {
    color: blueviolet;
}
.introduction {
    padding-top: 30px;
    height: 100vh;
    width: 100%;      
}

.listas {
    display: flex;
    flex-direction: row;
}

li::marker{
    color: blueviolet;
}

.googlemapslocation {   
    text-align: center;
    border-radius: 12px;
}


