.mainbody {
    font-size: large;
}

.mainbody h1 {
    color: blueviolet;
}

.introduction {
    padding-top: 30px;
    height: 100vh;
    width: 100%;      
}

.Localizacao {
    padding-top: 30px;
    height: 100vh;
    width: 100%;
}


