.mainbody {
    font-size: large;
    margin: 0px 0px 0px 20px;
}

.mainbody h1 {
    color: blueviolet;
}

.introduction {
    padding-top: 30px;
    height: 100vh;
    width: 100%;      
}

.googlemapslocation {   
    text-align: center;
    
}


