footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
}

footer a {
    color: white;
    text-decoration: none;
}

footer img {
    width: 40px;
    height: 40px;
}

footer .contatos {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-left: 800px;
    padding: 20px;  
}

footer .contatos a{
    margin-left: 20px;
}

.creditos {
    margin: 20px;
    padding: 20px;
}

.creditos a {
    margin-left: 40px;
}