.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}


@keyframes appear {
  from {
      opacity: 0;
      scale: 0.5;
  }
  to {
      opacity: 1;
      scale: 1;
  } 
}

.fade {
  opacity: 0;
  transform-origin: center;
  animation: appear 0.8s ease forwards;
  animation-play-state: paused;
  }

.fade.animate {
  animation-play-state: running;
}


